In [21]:
import pandas as pd
import numpy as np
d = {'x': [1, 2, 3], 'y': np.array([2, 4, 8]), 'z': 100}
pd.DataFrame(d)
##newd = {'d': 100}
##newser = pd.Series(newd)
##print(newser)
##print(type(newser))
##d['k'] = [3,4,5]

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [23]:
pd.DataFrame(d, index=[100, 200, 300], columns=['z', 'y', 'x'])

       z  y  x
100  100  2  1
200  100  4  2
300  100  8  3

In [28]:
import pandas as pd
patientID = [101,23,48,49]
name=       ['alice','bob','charlie','Eric']
date_of_birth = ['2023-01-01', '2023-01-02', '3/10/2020 143045', '13th of October, 2023']

myDF = pd.DataFrame(zip(patientID, name,date_of_birth), columns=['patientID', 'name', 'date_of_birth'])
myDF
##here we were able to use the zip function in order to zip the 3 lists together in order to create a dataset for the dataframe
game1 = [15, 17, 19, 23]
game2 = [25, 26, 27, 28]
game3 = [40, 56, 74, 33]
names = ['Jamal', 'Lewis', 'Camden', 'Jordan']
pd.DataFrame(zip(game1, game2, game3), index=names, columns=['game1', 'game2', 'game3'])

        game1  game2  game3
Jamal      15     25     40
Lewis      17     26     56
Camden     19     27     74
Jordan     23     28     33

In [29]:
l = [{'x': 1, 'y': 2, 'z': 100},
     {'x': 2, 'y': 4, 'z': 100},
     {'x': 3, 'y': 8, 'z': 100}]

pd.DataFrame(l)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [31]:
l = [[1, 2, 100],
     [2, 4, 100],
     [3, 8, 100]]

pd.DataFrame(l, columns=['x', 'y', 'z'])

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [42]:
import numpy as np
import pandas as pd
arr = np.array([[1, 2, 100],[2, 4, 100],[3, 8, 100]])
df = pd.DataFrame(arr, columns=['x', 'y', 'z'])
df
##by doing this we're able to pass in a 2-dimensional object (array) into the dataframe as the set of data values, similar to a nested list except that this is mutable as the copy is set to false meaning that the underlying data of the dataframe, the ARRAY is linked to the original array changing with its changes
arr[0,0] = 1000
df

      x  y    z
0  1000  2  100
1     2  4  100
2     3  8  100